* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
 
}
.col1{
    background-color: #f48b29; 
}

.col2{
    background-color:#f0c929; 
}

.col3{
    background-color: #ac0d0d; 
}

.col4{
    background-color:  #fbe6c2; 
}

#nav-bar{
    overflow: hidden;
    background-color:#fbe6c2; 
    color: #ac0d0d; 
    text-align: center;
    border-bottom: 5px solid #f0c929; 
    width:100%; 
}

#nav-bar a{
    float: left; 
    display:block; 
    text-align: center;
    padding: 14px; 
    text-decoration: none; 
    color: #ac0d0d; 
    font-family: 'Cabin', sans-serif;

}

#nav-bar a:hover{
    background-color: #f0c929; 
}

.content{
    padding: 16px; 
}

.sticky{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

.sticky + .content{
    padding-top: 60px; 
}

#header-image{
    background-image: url('images/foodtruck.jpg');
    background-repeat: no-repeat;
    height: 650px;

}

#first-section{
    background-size: cover;
    position: center; 
    /* background-color: #f48b29;  */
  
}


#logo{
    text-align: center;
}

h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fbe6c2; 
    text-align: center;
    font-family: 'Cabin', sans-serif;
    letter-spacing: 2px; 

}

 #about {
     text-align: left;
     padding: 5%; 
     justify-content: center;
     align-items: center; 

 } 

 h1{
    font-family: 'Cabin', sans-serif;
    font-size: xx-large;  
    letter-spacing: 2px;
 }

 p{
     color: #fbe6c2; 
     font-family: 'Cabin', sans-serif;
     letter-spacing: 1px;
 }

#signup{
    padding: 5%; 
    letter-spacing: 2px; 
    align-content: center;
    justify-content: center; 
    padding:5%; 
    border:5%; 
}

 #catering{
     /* height:400px;  */
     align-content: center;
     justify-content: center;
     padding:5%
 }


#picture-break {
    background-image: url('images/dan-gold-food-banner.jpg');
    background-size: cover;  
    height: 500px; 

}

.pad-marg-pic { 
    padding: 5%;   

}


#location-section{
    justify-content: right;
    align-content: center;
    padding-left: 10%; 
}



#menu-section{
    justify-content: center;
    align-content: center;
    text-align: center;
    padding: 3%; 
 
}

#favorites-photos {
    padding-left: 7%; 
    padding-bottom: 3%; 
    margin-left: 5%; 
    
}


.image {
    border-radius: 20px;
    width: 75%; 
    display: block; 
    align-content: space-around;
    justify-content: space-around;
    margin-left:5%;
  }

.gallery {
    position: relative;
    width: 100%;
    max-width: 100%;
    align-content: center;
    justify-content: center;
  }

.overlay{
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); 
        color: #f1f1f1;
        width: 75%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
        margin:5%; 
        font-family: 'Cabin', sans-serif;

      }

.gallery:hover .overlay {
        opacity: 1;
      }



.button {
        background-color: #ac0d0d; 
        border: solid #f0c929;
        color: #fbe6c2;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Cabin', sans-serif;
        border-radius: 4px;
        justify-content: center; 
        align-content: center;
      }

#contact-form{
    padding-top: 5%;
    align-content: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;

}

.form{
    margin-left:5%; 
}

input[type=text],input[type=email], textarea {
    align-content: center;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #f48b29;  
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: both;  
    font-family: 'Cabin', sans-serif;

  }

  label{
      color:#fbe6c2;
      font-family: 'Cabin', sans-serif;

  }
  
  input[type=submit] {
    width: 100%; 
    background-color: #f48b29;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Cabin', sans-serif;

  }
  
  input[type=submit]:hover {
    background-color: #f0c929;
  }
  
.fa {
    /* padding: 10px; */
    font-size: 20px;
    /* width: 10px; */
    text-align: center;
    text-decoration: none;
    color: #fbe6c2; 
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  

  footer{
      width: cover; 
      text-align: right; 
      color:#fbe6c2; 

  }

  footer a{
    width: cover; 
    text-align: right; 
    background-color: #ac0d0d;
    color:#fbe6c2;  
  }
