* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

#nav-bar{
    overflow: hidden;
    background-color:#fbe6c2; 
    color: #ac0d0d; 
    text-align: center;
    border-bottom: 5px solid #f0c929; 
    width:100%; 
}

#nav-bar a{
    float: left; 
    display:block; 
    text-align: center;
    padding: 14px; 
    text-decoration: none; 
    color: #ac0d0d; 
   ;

}

#nav-bar a:hover{
    background-color: #f0c929; 
}

.content{
    padding: 16px; 
}

.sticky{
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

.sticky + .content{
    padding-top: 60px; 
}

#header-image{
    background-image: url('images/foodtruck.jpg');
    background-repeat: no-repeat;
    height:450px; 

}

#first-section{
    background-size: cover;
    position: center; 
    background-color: #f48b29; 
  
}


#logo{
    text-align: center;
}

h2, h3, h4 {
    font-weight: 400;
    margin-bottom: 1rem;
    color: #fbe6c2; 
    text-align: center;
}

 #about-section {
     background-color:#f0c929; 
     text-align: left;
     padding: 5%; 
     border: 5px solid #fbe6c2; 
     justify-content: center;
     align-items: center; 

 } 

 p{
     color: #fbe6c2; 
 }


#picture-break {
    background-image: url('images/dan-gold-food-banner.jpg');
    background-size: cover;  
    height: 500px; 
}

.pad-marg-pic { 
    padding: 5px; 
    margin: 5% 0 5% 0; 
    align-content: center;
    justify-content: center;
    
    /* align-items: center;
    justify-content: center;  
    align-content: center;  
    float:center;  */
}


#location-section{
    background-color:#ac0d0d; 
    justify-content: center;
    align-content: center;
    padding: 5%; 
}

#menu-section{
    background-color: #f48b29;
    justify-content: center;
    align-content: center;

}

#favorites-photos {
    float: center;
    align-content: center;
    justify-content: center;
  }

#contact-form{
    background-color: #ac0d0d; 
    padding-top: 5%;

}

input[type=text],input[type=email], textarea {
    align-content: center;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #f48b29;  
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: both;  
  }

  label{
      color:#fbe6c2;
  }
  
  input[type=submit] {
    width: 100%; 
    background-color: #f48b29;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #f0c929;
  }
  
  footer{
      width: cover; 
      text-align: right; 
      background-color: #ac0d0d;
      color:#fbe6c2; 

  }

  footer a{
    width: cover; 
    text-align: right; 
    background-color: #ac0d0d;
    color:#fbe6c2;  
  }
